.advantageList {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  row-gap: var(--spacing-xl);
  text-align: center;
}

.icoContainer {
  width: 5.25rem;
  margin: auto;
}

.ico {
  width: auto;
  height: 5rem;
  fill: rgb(37, 99, 235);
}

.title {
  line-height: var(--spacing-l);
  text-align: center;
  font-weight: 600;
  font-size: var(--spacing-l);
  margin: 1rem;
}

@media screen and (min-width: 640px) {
  .advantageList {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    column-gap: var(--spacing-xl);
    text-align: left;
  }
}
