.card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: var(--spacing-s);
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.imgContainer {
  flex-shrink: 0;
}

.img {
  height: auto;
  width: 100%;
  object-fit: cover;
}

.cardInfo {
  flex: 1 1 0%;
  justify-content: space-between;
  background: #fff;
  padding: var(--spacing-m);
}

.cardInfoContainer {
  display: flex;
  justify-content: space-between;
}

.cardWordContainer {
  display: flex;
  align-items: center;
  column-gap: var(--spacing-s);
}

.cardWord {
  text-align: left;
  font-size: var(--spacing-xl);
  line-height: var(--spacing-xxl);
  font-weight: 500;
  color: rgb(70, 99, 229);
  text-transform: capitalize;
}

.textContainer {
  margin-top: var(--spacing-s);
}

.textWrapper {
  margin-top: var(--spacing-s);
}

.textExample {
  line-height: var(--spacing-l);
  font-size: 1.25rem;
}

.translate {
  margin-top: 0.25rem;
  font-size: var(--default-font);
  line-height: var(--spacing-l);
  color: rgb(71 85 105);
}

.link {
  display: block;
  text-align: left;
  margin-top: 0.25rem;
}

.linkText {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
  color: rgb(17, 24, 39);
}

.authorContainer {
  margin-top: var(--spacing-l);
  display: flex;
  column-gap: var(--spacing-m);
}

.avatarContainer {
  flex-shrink: 0;
}

.avatar {
  width: var(--spacing-xxl);
  height: var(--spacing-xxl);
  border-radius: 9999px;
}

.authorDetails {
  display: flex;
  font-size: var(--default-font);
  line-height: 1.25rem;
  color: rgb(107, 114, 128);
}

.authorName {
  cursor: pointer;
  font-weight: 500;
  color: rgb(17, 24, 39);
}

.authorName:hover {
  text-decoration: underline;
}

.createdContainer {
  display: flex;
  font-size: var(--default-font);
  line-height: 1.25rem;
  color: rgb(107, 114, 128);
}

@media screen and (min-width: 1024px) {
  .card {
    flex-direction: row;
  }
}
