.wordList {
  margin: 3rem auto 0 auto;
  display: grid;
  max-width: 32rem;
  gap: 1.25rem;
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

@media screen and (min-width: 1024px) {
  .wordList {
    max-width: none;
  }
}

@media screen and (min-width: 450px) {
  .wordList {
    flex-direction: column;
  }
}
